<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Todo App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <section class="hero is-primary is-medium">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="/home" class="navbar-item is-2 has-text-white-bis">
                            TodoListApp📝
                        </a>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-primary is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                                    <span>Source Code</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-primary is-inverted">
                                    <span class="icon">
                                        <i class="fas fa-clipboard-check"></i>
                                    </span>
                                    <span>Go to your Todos!!</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1">Hi, {{ name }}🙂!!</h1>
            </div>
            <br>
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-4 is-offset-4">
                        <h2 class="subtitle is-10">Here is your profile:</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>

    <div class="container">
        <div class="box">

            <div class="tabs is-centered">
                <ul>
                    <li class="tablinks is-active"><a onclick="openCity(event, 'Settings')">Your Account Settings!</a></li>
                    <li class="tablinks"><a onclick="openCity(event, 'Feedback')">feedback!</a></li>
                    <li class="tablinks"><a onclick="openCity(event, 'Meet')">Meet me!</a></li>
                    <li class="tablinks"><a onclick="openCity(event, 'About')">About this website!</a></li>
                </ul>
            </div>

            <div class="content">
                <div id="Settings" class="tabcontent">
                    <h3>London</h3>
                    <p>London is the capital city of England.</p>
                </div>


                <div id="Feedback" class="tabcontent">
                    <form  action="{{ url_for('send_email') }}" method="POST" class="box">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Your name ...." value={{ name }} name="name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                        <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email input", value={{ email }} name="email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Textarea" name="message"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Subject</label>
                            <div class="control">
                                <div class="select">
                                <select name="dropdown">
                                    <option value="Feedback">Feedback</option>
                                    <option value="Tips">Tips</option>
                                    <option value="Problem">Problem</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text">Cancel</button>
                        </div>
                        </div>
                    </form>
                    
                </div>


                <div id="Meet" class="tabcontent">
                    <h3>Tokyo</h3>
                    <p>Tokyo is the capital of Japan.</p>
                </div>


                <div id="About" class="tabcontent">
                    <h3>Tsfadsfasfo</h3>
                    <p>Tokyo isasfasfas the capital of Japan.</p>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        
        {% for category, message in messages %}
        
        {% if category == "success" %}
        
        <div class="notification is-success">
            <button class="delete"></button>
            {{ message }}
        </div>
        
        {% endif %}
        
        {% if category == "error" %}
        
        <div class="notification is-danger">
            <button class="delete"></button>
            {{ message }}
        </div>
        
        {% endif %}
        
        {% endfor %}
        
        {% endif %}
        {% endwith %}
    </div>

    <br>
    <br>
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        openCity(event, 'Settings')

        function openCity(evt, cityName) {
        // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" is-active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.classList.add("is-active");
        }
    </script>
</body>
</html>