{% extends 'base.html' %}

{% block title %}
    TodoListApp234(Tejas)|User Settings!!
{% endblock %}

{% block navbarItem %}

<span class="navbar-item">
    <a class="button is-primary is-inverted modal-button" data-target="modal-id">
        <span class="icon">
            <i class="fas fa-address-card"></i>
        </span>
        <span>About</span>
    </a>
</span>

<span class="navbar-item">
    <a href="{{ url_for('logout') }}" class="button is-primary is-inverted">
        <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
        </span>
        <span>Logout</span>
    </a>
</span>

<span class="navbar-item">
    <a href="https://github.com/KidCoderT/MyFlaskTodoListApp" target="_blank" class="button is-primary is-inverted">
        <span class="icon">
            <i class="fab fa-github"></i>
        </span>
        <span>Source Code</span>
    </a>
</span>
<span class="navbar-item">
    <a href="{{ url_for('mytodos') }}" class="button is-primary is-inverted">
        <span class="icon">
            <i class="fas fa-clipboard-check"></i>
        </span>
        <span>Go to your Todos!!</span>
    </a>
</span>

{% endblock %}

{% block centerblock %}

<span class="icon is-large" style="width: 100px;">
    <img src={{ session['user_image'] }} alt="Image" style="border-radius: 50%;">
</span>
<br>
<h1 class="title is-1">Hi, {{ session["user_name"] }}🙂!!</h1>

{% endblock %}

{% block HeaderBottom %}

    <h2 class="subtitle is-10">Here is your profile 📝:</h2>

{% endblock %}

{% block container %}
<div class="box">
    <h1 class="title is-3 is-bold">
        <i class="fas fa-user-cog"></i> Account Settings
        <hr>
    </h1>
    <div class="box">
        <h1 class="title is-5 is-bold">
                {#<i class="fas fa-user-cog"></i>#} Profile Image
            <hr>
        </h1>
        <div class="box">
            <form action="{{ url_for('change_profile_image') }}" method="post">
                
                <label class="label has-text-centered">New Profile Image URL!:</label>
                <hr>
                <div class="field is-grouped" style="margin-left: 250px;">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" placeholder="Image url" name="url">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="submit" value="Submit" class="button is-link">
                        </div>
                        <div class="control">
                            <a href="/set_image_to_default" class="button is-link">Set to default!</a>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}