<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="todo">
        <h1 class="todo__header"><span class="todo__header_text">To Do App 📝</span></h1>

        <div class="card todo__headerContainer">
            <p class="font-weight-bold">What are we doing tonight fellas!!!!!! 🔥🔥</p>
            <form class="todo__form" action="{{ url_for('add') }}" method="POST">
                <input placeholder="Write task here..." type="text" name="todoitem">
                <input class="btn btn-info" type="submit" value="Create">
            </form>
        </div>
    </div>

    <div class="todo__itemContainer">

        {% if unfinished_todos %}
            <div class="card todo__innerItemContainer">

                <h2 class="todo__itemHeader font-weight-bolder">To Do's 🕐</h2>

                <ul class="todo__container">

                    {% for todo in unfinished_todos %}
    
                    <li class="todo__item">
                        <p class="font-weight-bold">{{ todo.text }}</p>
                        <a class="btn btn-outline-success" href="{{ url_for('completed', id=todo.id) }}">Complete ➡️</a>
                        <a class="todo__close" href="{{ url_for('delete', id=todo.id) }}">❌</a>
                    </li>

                    {% endfor %}
                </ul>

            </div>
        {% endif %}


        {% if finished_todos %}
            <div class="card todo__innerItemContainer">

                <h2 class="todo__itemHeader font-weight-bolder">Done ✅</h2>

                <ul class="todo__container">

                    {% for todo in finished_todos %}

                    <li class="todo__item">
                        <p class="font-weight-bold">{{ todo.text }}</p>
                        <a class="btn btn-outline-success" href="{{ url_for('uncheck', id=todo.id) }}">⬅️Undo</a>
                        <a class="todo__close" href="{{ url_for('delete', id=todo.id) }}">❌</a>
                    </li>

                    {% endfor %}
                    
                </ul>

            </div>
        {% endif %}


    </div>
</body>
</html>